<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta  name="viewport" content="width=device-width, inicial-scale=1.0">
        <title>Simulação de Emprestimo 🤑</title>
    </head>
    <body>
        <h1>Simulação de Emprestimo</h1>
        <form method="POST">
            <label for="renda_mensal">Insira sua renda mensal:</label>
            <input type="number" name="renda_mensal" required><br>
            <label for="valor_emprestimo">Insira qual será o valor do emprestimo:</label>
            <input type="number" name="valor_emprestimo" required><br>
            <label for="prazo">Insira o Prazo mesas para o pagamento das prestações:</label>
            <input type="number" name="prazo" required><br>
            
            <button type="submit">Simular</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </body>
</html>